html{
    font-family: Arial, sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo{
    width: 25%;
}
/* Add a black background color to the top navigation */
.navbar {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
    border-radius: 8px;
    float: left;
    color: #252525;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #272727;
    color: rgb(218, 218, 218);
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}
  
.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
#landingPage{
    display: flex;
    justify-content: center;
}
.banner {
    border-radius: 8px;
    width: 1366px;
    height: 578px;
    background-image: url('../banner.png'); /* Ganti dengan path gambar Anda */
    background-size: cover;
    background-position: center;
}
#welcomeMessage{
    font-size: xx-large;
}
#banner-msg {
    position: absolute;
    left: 5%;
    top: 18%;
    padding: 20px;
    color: white; /* Warna teks putih */
}
.facilities {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.facility {
    text-align: center;
    margin: 20px;
}

.facility img {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Membuat gambar bundar */
    object-fit: cover;
}
.facility h3 {
    margin-top: 10px;
}
.form-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.form-container{
    width: 45%;
    padding: 20px;
    border-radius: 8px;
}

.result-container {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
/* Styling for the form section */
  
  /* Styling for form inputs and textarea */
  .form-container input[type="text"],
  .form-container input[type="date"],
  .form-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Styling for radio buttons and labels */
  .form-container input[type="radio"] {
    margin-right: 5px;
  }
  
  /* Styling for submit button */
  .form-container button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Styling for error message */
  #error-name {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
 
  /* Styling for each result line */
  .result-container p {
    margin: 5px 0;
    font-weight: bold;
  }
  
  /* Styling for the labels in the result */
  .result-container span {
    font-weight: normal;
  }
  