html{
    font-family: Arial, sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo{
    width: 25%;
}
.navbar {
    display: flex;
    overflow: hidden;
}
.navbar a {
    border-radius: 8px;
    float: left;
    color: #252525;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color: #272727;
    color: rgb(218, 218, 218);
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}
  
.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
#landingPage{
    display: flex;
    justify-content: center;
}
.banner {
    border-radius: 8px;
    width: 1366px;
    height: 578px;
    background-image: url('../banner.png');
    background-position: center;
}
#welcomeMessage{
    font-size: xx-large;
}
#banner-msg {
    position: absolute;
    left: 5%;
    top: 18%;
    padding: 20px;
    color: white;
}
.facilities {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.facility {
    text-align: center;
    margin: 20px;
}

.facility img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.facility h3 {
    margin-top: 10px;
}
.form-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.form-container{
    width: 45%;
    padding: 20px;
    border-radius: 8px;
}

.result-container {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.form-container input[type="text"],
.form-container input[type="date"],
.form-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-container input[type="radio"] {
    margin-right: 5px;
}
.form-container button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
.radio-container{
    display: flex;
}
.form-container button[type="submit"] {
    display: block; 
    margin: 0 auto; 
}
#error-name {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
.result-container p {
    margin: 5px 0;
    font-weight: bold;
}
.result-container span {
    font-weight: normal;
}
footer{
    text-align: center;
    padding: 15px 0px;
}
@media only screen and (max-width: 600px) {
    .popup {
        position: absolute;
    }
    #logo{
        width: auto;
        height: 20%;
    }
    .popup-content {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
    }
    header,  .navbar,  .facilities{
        flex-direction: column;
    }
    #banner-msg{
        top: auto;
        left: auto;
    }
    .form-section{
        padding: 0px;
        flex-direction: column;
        align-items: center;
    }
    .form-container,.form-container button[type="submit"], .result-container{
        width: 85%;
    }
}